@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #999999;
  color: #d4d4d4;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top left, #ededed, #bebebe);
}

/* Desktop: Add padding around the "window" */
@media (min-width: 640px) {
  body {
    padding: 2rem;
  }
}

/* Custom Scrollbar (VS Code style) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #424242; 
}

::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}