@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0F172A;
  color: #38BDF8;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden; /* Prevent body scroll, we'll handle scrolling in the terminal window */
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0F172A; 
}

::-webkit-scrollbar-thumb {
  background: #1E293B; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; 
}
